.rdt_TableBody > div:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}

.react-bootstrap-table th .order-4:after {
    content: "\2193";
    opacity: 0.4;
}
.react-bootstrap-table th .order-4:before {
    margin-left: 3.5px;
    content: "\2191";
    opacity: 0.4;
}
@media only screen and (max-width: 1301px) {
    body {
      font-size: 10px;
    }
  }

.card-body {
    overflow-x: scroll;
}