tbody > tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}

.react-bootstrap-table th .order-4:after {
    content: "\2193";
    opacity: 0.4;
}
.react-bootstrap-table th .order-4:before {
    margin-left: 3.5px;
    content: "\2191";
    opacity: 0.4;
}
@media only screen and (max-width: 1301px) {
    body {
      font-size: 10px;
    }
  }

.card-body {
    overflow-x: scroll;
}
/* .date-filter-input {
    max-width: 90px;
} */
.salary {
    min-width: 200px;
}
.link-job {
    max-width: 150px;
    word-wrap: break-word;
}
.react-bootstrap-table-pagination {
    padding: 20px;
    padding-bottom: 0px;
}
.react-bootstrap-table-pagination .dropdown{
    
}
.react-bootstrap-table-pagination ul {
    float: right;
}
.main-header.navbar-light {
    margin-left: 50px;
    margin-right: 50px;
}