.rdt_TableBody > div:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}

.react-bootstrap-table th .order-4:after {
    content: "\2193";
    opacity: 0.4;
}
.react-bootstrap-table th .order-4:before {
    margin-left: 3.5px;
    content: "\2191";
    opacity: 0.4;
}